.workout-card {
  display: flex;
  font-size: 12px;
  display: flex;
  border-radius: 7px;
  margin: 5px;
  overflow: hidden;
  min-width: 230px;
  padding: 5px;
  height: 75px;
  flex: 1;

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 14px;
    border-left: none;
    flex: 1 1;

    .count {
      color: gray;
      font-size: 12px;
    }

    .progress {
      display: flex;
      height: 10px;
      align-items: center;

      & > div {
        width: 25px;
        height: 3px;
        margin-right: 3px;
        border-radius: 3px;
      }
      .one {
        background-color: #f16f0e;
      }
      .two {
        background-color: #5222eb;
      }
      .three {
      }
    }
  }

  .name {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
  }

  .date-details {
    background-color: #6fcaeefc;
    display: flex;
    flex-direction: column;
    padding: 5px 12px;
    color: white;
    font-size: 12px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;

    .month {
      color: hsl(197, 79, 85);
    }

    .date {
      font-weight: bold;
    }
  }
}
