.button-to-popup {
  flex: 1 1;
  display: flex;
  justify-content: center;
  padding: 50px;
  background: #afafaf;

  .layover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
  }

  .mobile-screen {
    background-color: white;
    position: relative;
    padding: 35px;

    .mobile-header {
      display: flex;
      align-items: center;

      .welcome {
        padding-left: 15px;
        color: rgba(0, 0, 0, 0.7);
        font-weight: bold;
        font-size: 16px;
      }

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .heading-tabs {
      display: flex;
      padding-top: 30px;

      .heading-tab {
        position: relative;
        font-size: 40px;
        margin-left: 20px;
        color: gray;

        &.active {
          font-weight: bold;
          color: rgba(0, 0, 0, 0.8);

          &:before {
            content: "";
            position: absolute;
            width: 30%;
            height: 1px;
            bottom: -3px;
            left: 3px;
            border-bottom: 4px solid #13b4f0;
          }
        }
      }
    }

    .workouts {
      display: flex;
      padding-top: 50px;
      flex-direction: column;
      align-items: center;

      .count {
        font-size: 48px;
        font-weight: bold;
      }
      .text {
        padding-top: 10px;
        color: gray;
        font-size: 14px;
        font-weight: bold;
      }
    }

    .weight-goals {
      display: flex;
      justify-content: space-around;
      padding-top: 70px;

      .current {
        .weight {
          display: flex;
          align-items: baseline;
          .number {
            font-size: 38px;
            font-weight: bold;
          }
          .unit {
            padding-left: 4px;
          }
        }
        .text {
          color: gray;
          padding-top: 5px;
          font-size: 14px;
        }
      }

      .left-to-gain {
        .top {
          .weight {
            display: flex;
            align-items: baseline;
            .number {
              font-size: 20px;
              font-weight: bold;
            }
            .unit {
              font-size: 12px;
              padding-left: 4px;
            }
          }
        }
        .middle {
          display: flex;
          padding: 13px 0px;

          .left {
            height: 3px;
            flex: 5;
            background-color: #f27e43;
          }
          .right {
            height: 3px;
            flex: 3;
            background-color: #e0e0e0;
          }
        }
        .bottom {
          .text {
            color: gray;
            padding-top: 5px;
            font-size: 14px;
          }
        }
      }
    }

    .stats {
      display: flex;
      padding-top: 20px;
      justify-content: space-around;

      & > .left,
      & > .middle,
      & > .right {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .stat {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .top {
          &.two {
            img {
              background-color: #74adff63;
            }
          }

          &.three {
            img {
              background-color: #42bffa3d;
              padding: 12px;
            }
          }
          img {
            background: #efb2354f;
            width: 45px;
            padding: 10px;
            border-radius: 50%;
            height: 45px;
          }
        }

        .middle {
          padding-top: 10px;
          display: flex;
          justify-content: baseline;
          align-items: flex-end;

          .number {
            font-weight: bold;
            font-size: 18px;
          }
          .unit {
            font-size: 13px;
            padding-left: 4px;
          }
        }
        .bottom {
          font-size: 13px;
          color: gray;
          padding-top: 5px;
        }
      }
    }

    .bottom-details {
      padding-top: 50px;
      display: flex;

      .right-button {
        background: #f0f0f0;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        cursor: pointer;
        font-weight: bold;
        color: #2d2d2d;
      }
    }
  }
}
