.icon-container {
  color: white;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.pop-button {
  cursor: pointer;
  //   overflow: auto;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 25px;
  border-radius: 10px;
  font-size: 25px;
  transition: background-color 0.2s;
  display: flex;
  // box-shadow: 2px 2px 8px 1px #8080808a;
  box-shadow: 4px 5px 14px 1px #80808099;
}

.card-content {
  // background: yellow;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;

  ::-webkit-scrollbar {
    display: none;
  }

  .workout-header {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #5d5d5d;
    padding: 20px;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
    }

    img {
      padding-right: 10px;
    }
  }

  .scroll {
    flex: 1;
    overflow: auto;
    //   padding-left: 10px;

    .cards {
      display: flex;
      overflow-x: auto;
      // padding-right: 20px;
      // margin-right: 20px;
    }
  }
}

.cards-heading {
  font-size: 14px;
  padding: 10px 25px 0px 25px;
  font-weight: bold;
  color: rgba(0,0,0,0.4);
}

.start-button {
  background-color: #ff6a06;
  color: white;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

.shadow-container {
  // transform: scale(0.8);
  box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.15);
  margin: 10px 5px 20px 5px;
  // padding: 5px 0px;
  border-radius: 15px;
  margin-left: 15px;

  &:first-child {
    margin-left: 25px;
  }

  &:last-child {
    // margin-right: 25px;
  }
}
