.user-list-item {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 5px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: aliceblue;
  }

  .avatar {
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding: 5px;
    }
  }

  .details {
    padding-left: 7px;
    display: flex;
    align-items: center;
    .name {
      font-weight: bold;
      padding-bottom: 5px;
      color: rgba(0, 0, 0, 0.6);
      font-size: 13px;
    }

    .separator {
      font-size: 5px;
      padding: 0px 10px;
    }

    .email {
      color: gray;
      font-size: 11px;
    }
  }
}
