.search-expandable {
  position: relative;
  // background-color: white;
}

.search-icon {
  width: 18px;
  opacity: 0.7;
  padding-left: 3px;
}

.search-field {
  background-color: transparent;
  outline: none;
  border: none;
  flex: 1;
  padding: 5px 10px;
}

.close {
  background: #666666;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ededed;
  font-size: 11px;
  cursor: pointer;
}

.search-text {
  width: 600px;
  padding: 7px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  height: 35px;
  margin-top: 6px;
}

.heading {
  padding: 15px 0px 0px 15px;
  font-size: 12px;
  color: gray;
  font-weight: bold;
}

.content {
  display: flex;
  padding: 5px 10px;
  .user {
    // padding: 0px 5px;
    border-radius: 5px;
    padding: 4px 0px;
    cursor: pointer;
    display: flex;
    width: 65px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      background: aliceblue;
    }
    .avatar {
      border: 2px solid rgb(125, 173, 168);
      border-radius: 50%;
      height: 54px;
      width: 54px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin: auto;
        display: block;
        border-radius: 50%;
      }
    }
    .name {
      font-size: 12px;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.background-overlay {
  position: fixed;
  left: 0;
  background: #ababab;
  bottom: 0;
  right: 0;
  top: 51px;
  z-index: 4;
}

.search-filters {
  margin-top: 5px;
  flex-direction: column;
  z-index: 5;
  width: 600px;
  height: 0px;
  position: absolute;
  border-radius: 10px 10px 4px 4px;
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.user-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .title {
    font-size: 12px;
    color: gray;
    font-weight: bold;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-top: 20px;

    display: flex;
    align-items: center;
  }

  .user-list {
    flex: 1;
    overflow-y: auto;
    padding: 0px 10px;
  }
}

.genres {
  padding-left: 15px;
  padding-top: 15px;

  .title {
    font-size: 12px;
    color: gray;
    font-weight: bold;
    padding-bottom: 5px;
  }

  .tags {
    display: flex;
    display: flex;

    .tag {
      color: #096dd9;
      background: #e6f7ff;
      border-color: #91d5ff;
      font-size: 12px;
      padding: 5px 10px;
      margin-right: 10px;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: #d3f1ff;
      }
    }
  }
}
