.App {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #495ed0;
  display: flex;
  
  padding: 3px 10px;

  .limit {
    display: flex;
    margin: auto;
    flex: 1;
    justify-content: space-between;
    max-width: 1200px;
  }

  .left {
    display: flex;

    .logo {
      width: 110px;
      object-fit: contain;
      padding: 8px 0px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    .avatar {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
